# Prerequisites

# Object files

# Linker output

# Precompiled Headers

# Libraries
D_BWedding1/HTML_Templates/
D_BWedding2/HTML_Templates/
D_BWedding3/HTML_Templates/
D_BWedding4/html_template/
Image_Store/

# virtual Environments
D_BWedding1/wedding_project.env/
D_BWedding2/django1.env/
D_BWedding3/django.env/
D_BWedding4/django1_env/

# Shared objects (inc. Windows DLLs)

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files

# Kernel Module Compile Results

# custom

# special md files
