# Prerequisites

# Object files

# Linker output

# Precompiled Headers

# Libraries
HTML_Templates/
Image_Store/

# virtual Environments
wedding_project.env/

# Shared objects (inc. Windows DLLs)

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files

# Kernel Module Compile Results

# custom

# special md files
